/*
 * BUTTON STYLES
 */

.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0; // For input.btn
  font-size: @buttonFontSize;
  line-height: @line-height--unitless;
  color: #333;
  text-align: center;
  vertical-align: middle;
  background:  #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  font-family: @defaultFont;
  text-shadow: none;
  &:hover {
    color: @grayDark;
    text-decoration: none;
    background-color: @color-accent1-light3;
    background-position: 0 -25px;
    color: #000;
    // transition is only when going to hover, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition(background-position .1s linear);
  }
  &:focus {
    .tab-focus();
  }
  &.active,
  &:active {
    background-image: none;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);

    background-color: darken(@white, 10%);
    background-color: darken(@white, 15%) e("\9");
    outline: 0;
  }
  &.btn-page{
    background:  @baseContrastSlight;
    border: 1px solid @baseContrastDarkMore;
    color: @pl-text;
    &:hover{
      color: @pl-text;
      background-color: @baseContrast;
    }
  }
  &.btn-ol-white,
  &.btn-ol-black{
    background: transparent;
    border: 1px solid transparent;
    &.btn-large{
      padding: 9px 25px;
      border-width: 2px;
    }
  }
  &.btn-ol-white{
    color: #fff;
    border-color: rgba(255,255,255,.6);
    &:hover{
      color: #fff;
      background: rgba(255,255,255,.1);
      border-color: 2px solid rgba(255,255,255,1 );
    }
  }
  &.btn-ol-black{
    color: rgba(0, 0, 0, .4);
    border-color: rgba( 0, 0, 0, .3);
    &:hover{
      color: rgba(0, 0, 0, .7);
      background: rgba(0,0,0,.1);
      border-color: rgba(0, 0, 0, .7);
    }
  }




}


a.btn{
  color:#333;
  &:hover{
    color: #000;
  }
}

// Hover state
body a.btn:hover {
  text-decoration:none;
}

// Disabled state
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: darken(@white, 10%);
  opacity: .65;
  box-shadow: none;
}


// Button Sizes
// --------------------------------------------------

&.btn-large {
  letter-spacing: 2px;
  padding: 10px 25px;
  line-height: normal;
  font-weight: 600;
  border-radius: 2px;
  [class^="icon-"] {
    margin-top: 1px;
  }
}

&.btn-small {
  letter-spacing: 0px;
  padding: @paddingSmall;
  font-size: @fontSizeSmall;
  .border-radius(@borderRadiusSmall);
  [class^="icon-"],
  [class*=" icon-"] {
    margin-top: 0;
  }
}

&.btn-mini {
  letter-spacing: 0px;
  font-weight: 200;
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
  [class^="icon-"],
  [class*=" icon-"] {
    margin-top: -1px;
  }
}

// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------

.btn-primary,
a.btn-primary,
.btn-warning,
a.btn-warning,
.btn-important,
a.btn-important,
.btn-success,
a.btn-success,
.btn-info,
a.btn-info,
.btn-inverse,
a.btn-inverse,
.btn-edit,
a.btn-edit{
  color: @white;
  border: none;
  padding: 5px 10px;
  text-shadow: 0 -1px 0px rgba(0,0,0,.3);
  box-shadow: 0px 1px 0px rgba(0,0,0,0.1) inset,0px 2px 0px rgba(255,255,255,0.15) inset,inset 0px -1px 0px rgba(0,0,0,0.2);
  &.btn-large{
    padding: 11px 25px;
  }
  &.btn-mini{
    padding: 3px 10px;
  }
  &a,
  &:hover{
    text-shadow: 0 -1px 0px rgba(0,0,0,.3);
    color: @white;
  }
  &.active{
    color: rgba(255,255,255,.75);
  }
}



// Set the backgrounds
// -------------------------
.btn-primary {
  .buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
}
// Warning appears are orange
.btn-warning {
  .buttonBackground(@btnWarningBackground, @btnWarningBackgroundHighlight);
}
// Important and error appear as red
.btn-important {
  .buttonBackground(@btnImportantBackground, @btnImportantBackgroundHighlight);
}
// Success appears as green
.btn-success {
  .buttonBackground(@btnSuccessBackground, @btnSuccessBackgroundHighlight);
}
// Info appears as a neutral blue
.btn-info {
  .buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight);
}
// Inverse appears as dark gray
.btn-inverse {
  .buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
}

.btn-link-icon{
  > i:first-child {
    color: @linkColor;
  }
}






// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *padding-top: 2px;
  *padding-bottom: 2px;
  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
}


// BUTTON GROUPS
// -------------


// Make the div behave like a button
.btn-group {
    position: relative;
    display: inline-block;
    .ie7-inline-block();

    vertical-align: middle; // match .btn alignment given font-size hack above
    white-space: nowrap; // prevent buttons from wrapping when in tight spaces (e.g., the table on the tests page)
    .ie7-restore-left-whitespace();

}

// Space out series of button groups
.btn-group + .btn-group {
  margin-left: 5px;
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
  margin-top: @elementSpacingUnit / 2;
  margin-bottom: @elementSpacingUnit / 2;
  .btn-group {
    display: inline-block;
    .ie7-inline-block();
  }
}

// Float them, remove border radius, then re-add to first and last elements
.btn-group .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  border-radius: 0;
}
// Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
.btn-group .btn:first-child {
  margin-left: 0;
             border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
}
.btn-group .btn:last-child,
.btn-group .dropdown-toggle {
             border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
}
// Reset corners for large buttons
.btn-group .btn.large:first-child {
  margin-left: 0;
             border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
}
.btn-group .btn.large:last-child,
.btn-group .large.dropdown-toggle {
             border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
}

// On hover/focus/active, bring the proper btn to front
.btn-group .btn:hover,
.btn-group .btn:focus,
.btn-group .btn:active,
.btn-group .btn.active {
  z-index: 2;
}

// On active and open, don't show outline
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}


// Split button dropdowns

// Give the line between buttons some depth
.btn-group .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;

  *padding-top: 3px;
  *padding-bottom: 3px;
}
.btn-group .btn-mini.dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-group .btn-small.dropdown-toggle {
  *padding-top: 4px;
  *padding-bottom: 4px;
}
.btn-group .btn-large.dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}

.btn-group.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: @zindexDropdown;

  // Reposition menu on open and round all corners
  .dropdown-menu {
    display: block;
    margin-top: 1px;
    border-radius: 5px;
  }

  .dropdown-toggle {
    background-image: none;
    box-shadow: inset 0 1px 6px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  }
}

// Reposition the caret
.btn .caret {
  margin-top: 7px;
  margin-left: 0;
}
.btn:hover .caret,
.open.btn-group .caret {
    opacity: 1;
}
// Carets in other button sizes
.btn-mini .caret {
  margin-top: 5px;
}
.btn-small .caret {
  margin-top: 6px;
}
.btn-large .caret {
  margin-top: 6px;
  border-left:  5px solid transparent;
  border-right: 5px solid transparent;
  border-top:   5px solid @black;
}


// Account for other colors
.btn-primary,
.btn-warning,
.btn-important,
.btn-info,
.btn-success,
.btn-inverse {
  .caret {
    border-top-color: @white;
    border-bottom-color: @white;
    opacity: .75;
  }
}


// Block button
// -------------------------

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: @linkColor;
border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: @linkColorHover;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: @grayDark;
  text-decoration: none;
}

