// Colors.less
// Variables to customize color inside PageLines
// -----------------------------------------------------

// Text Color Variables
// -------------------------
@textColor:         @color-dark;
@textColorAlt:      fadeout(@textColor, 30%);
@textColorSubtle:   fadeout(@textColor, 40%);
@textColorLight:    fadeout(@textColor, 70%);

// Text Headers Color (DEPRECATED)
// -------------------------
@headerColor:     @textColor;
@headerHover:     @textColorAlt;

// Link Color
// -------------------------
@linkColor:             @color-accent1;
@linkColorHover:        fadeout(@linkColor, 30%);

// Base Color Variables
// -------------------------
// Ordered from returning light value to dark

@baseColor:             @pl-base;
@baseLighter:           lighten( @pl-base, 5%);
@baseLighterMore:       lighten( @pl-base, 10%);
@baseLighterMost:       lighten( @pl-base, 15%);
@baseContrastSlight:    lighten( @pl-base, @invert-light*.4);
@baseDarker:            darken( @pl-base, 5%); // Same as @dark-base
@dark-base:             darken( @pl-base, @invert-dark  ); // Same as @baseDarker
@baseDarkerMore:        darken( @pl-base, 8%);
@light-base:            lighten( @pl-base, @invert-light  );  // Same as @baseContrast
@baseContrast:          lighten( @pl-base, @invert-light); // Same as @light-base
@baseContrastDark:      darken( @baseContrast, @invert-dark);
@baseContrastMore:      lighten( @baseContrast, @invert-light);
@baseContrastDarkMore:  darken( @baseContrastDark, @invert-dark);

// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;

// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #27Ae60;
@red:                   #f04831;
@yellow:                #ffc40d;
@orange:                #f6653c;
@pink:                  #c3325f;
@purple:                #7a43b6;

// Buttons
// -------------------------
@btnBackground:                     @color-accent1-light3;
@btnBackgroundHighlight:            darken(@btnBackground, 3%);
@btnBorder:                         darken(@btnBackground, 20%);

@btnPrimaryBackground:              @color-accent1;
@btnPrimaryBackgroundHighlight:     darken( @btnPrimaryBackground, 8% );

@btnInfoBackground:                 #2ac4ea;
@btnInfoBackgroundHighlight:        darken( @btnInfoBackground, 5% );

@btnSuccessBackground:              #27ce60;
@btnSuccessBackgroundHighlight:     darken( @btnSuccessBackground, 8% );

@btnWarningBackground:              @orange;
@btnWarningBackgroundHighlight:     spin( @btnWarningBackground, -5% );

@btnImportantBackground:            @red;
@btnImportantBackgroundHighlight:   darken( @btnImportantBackground, 5% );

@btnInverseBackground:              #222;
@btnInverseBackgroundHighlight:     #000;


// Highlight Section
// -------------------------
@highlightSubHeadColor:   fadeout(@pl-text, 60%);

// Forms
// -------------------------
@inputBackground:               #FFFFFF;
@inputBorder:                   #CCCCCC;
@inputBorderRadius:             3px;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;

// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @dropdownLinkColor;

@dropdownLinkBackgroundActive:  @btnPrimaryBackground;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;

// Input placeholder text color
// -------------------------
@placeholderText:             rgba(0,0,0,.4);

// Hr border color
// -------------------------
@hrBorder:                    @baseContrastDark;

// Form states and alerts
// -------------------------
@warningText:                 #453404;
@warningBackground:           #fcf8e3;
@warningBorder:               darken(spin(@warningBackground, -10), 5%);

@errorText:                   #b94a48;
@errorBackground:             #f2dede;
@errorBorder:                 darken(spin(@errorBackground, -10), 5%);

@successText:                 #468847;
@successBackground:           #dff0d8;
@successBorder:               darken(spin(@successBackground, -10), 8%);

@infoText:                    #3a87ad;
@infoBackground:              #d9edf7;
@infoBorder:                  darken(@infoBackground, 10%);