// PageLines Core

table {
	width: 100%;
	.prettyprint{
		margin-bottom: 0;
	}
}

.hentry, 
#comments{
	table{
		margin-bottom: 1em;
		font-size: 80%;
		line-height: 1.3em;
		
		th{
			font-weight: 600;
		}
		th, td{
			vertical-align: middle;
			padding: 10px;
			ul{
				text-align: left;
				font-size: 90%;	
				margin: 7px 0 7px 30px;
			}
		}
	}
}


// Bootstrap
.table {

  th {
    font-size:@baseFontSize;
    font-weight:bold;
  }

	td {
		color: lighten(@pl-text,10);
		line-height: @line-height--unitless - 0.3;
		font-size: @baseFontSize * .75;
		//text-align: left;
		vertical-align: top;
		border-top: 1px solid darken(@dark-base,8);
	}
	&.mid td{
		vertical-align: middle;
	}
}

// Remove top border from thead by default
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }
  // Account for multiple tbody instances
  tbody + tbody {
    border-top: 2px solid darken(@dark-base,8);
  }


// CONDENSED TABLE W/ HALF PADDING
// -------------------------------

.table-condensed,.hentry .table-condensed {
  th,
  td {
    padding: 4px 5px;
  }
}


// CENTERED
.table-centered {
  th,
  td {
    text-align:center;
  }
}

// BORDERED VERSION
// ----------------

.table-bordered {
  border: 1px solid darken(@dark-base,8);
  border-left: 0;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapsed; // IE7 can't round corners anyway
  .border-radius(4px);
  th,
  td {
    border-left: 1px solid darken(@dark-base,8);
  }
  // Prevent a double border
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
  // For first th or td in the first row in the first thead or tbody
  thead:first-child tr:first-child th:first-child,
  tbody:first-child tr:first-child td:first-child {
    .border-radius(4px 0 0 0);
  }
  thead:first-child tr:first-child th:last-child,
  tbody:first-child tr:first-child td:last-child {
    .border-radius(0 4px 0 0);
  }
  // For first th or td in the first row in the first thead or tbody
  thead:last-child tr:last-child th:first-child,
  tbody:last-child tr:last-child td:first-child {
    .border-radius(0 0 0 4px);
  }
  thead:last-child tr:last-child th:last-child,
  tbody:last-child tr:last-child td:last-child {
    .border-radius(0 0 4px 0);
  }
}


// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  tbody {
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background-color: darken(@pl-base,4);
    }
  }
}


// HOVER EFFECT
// ------------
// Placed here since it has to come after the potential zebra striping
.table {
  tbody tr:hover td,
  tbody tr:hover th {
    background-color: darken(@pl-base,4);
  }
}


// TABLE CELL SIZING
// -----------------

// Change the columns
table {
  .span1     { .tableColumns(1); }
  .span2     { .tableColumns(2); }
  .span3     { .tableColumns(3); }
  .span4     { .tableColumns(4); }
  .span5     { .tableColumns(5); }
  .span6     { .tableColumns(6); }
  .span7     { .tableColumns(7); }
  .span8     { .tableColumns(8); }
  .span9     { .tableColumns(9); }
  .span10    { .tableColumns(10); }
  .span11    { .tableColumns(11); }
  .span12    { .tableColumns(12); }
  .span13    { .tableColumns(13); }
  .span14    { .tableColumns(14); }
  .span15    { .tableColumns(15); }
  .span16    { .tableColumns(16); }
  .span17    { .tableColumns(17); }
  .span18    { .tableColumns(18); }
  .span19    { .tableColumns(19); }
  .span20    { .tableColumns(20); }
  .span21    { .tableColumns(21); }
  .span22    { .tableColumns(22); }
  .span23    { .tableColumns(23); }
  .span24    { .tableColumns(24); }
}
