// Typography.less
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------

html{
	font-size: 10px;
	// font-size: @font-scale-base-percentage;
	// font-size: @font-scale-base-px;
}
// BODY TEXT
// ---------
body{
	font-size: @font-scale-base-px;
	font-family: @baseFontFamily;
	font-weight: @baseFontWeight;
	line-height: @line-height--unitless;
	color: @textColor;
}


// Scale fonts
@media (max-width: 767px) {
  html { font-size: 8px; }
  body { font-size: 14px; }
}
@media (max-width: 480px) {
  // html { font-size: 6px; }
  // 
  h1{font-size: @font-size-large-px !important}
	h2{font-size: @font-size-medium-px !important}
	h3{
		font-size: @font-size-medium-px !important;
		font-weight: bold;
	}
	h4{font-size: @font-size-medium-px !important;}
	h5{font-size: @font-size-small-px !important;}
	h6{font-size: @font-size-small-px !important;}

  body .sms-heading.sms-heading--primary{font-size: @font-size-xxlarge-px !important}
  body .sms-heading.sms-heading--secondary{
  	font-size: @font-size-xlarge-px !important;
  	font-weight: bold;
  }
  body .sms-heading.sms-heading--tertiary{
  	font-size: @font-size-large-px !important;
  	font-weight: 300;
  }

	body #footer {
		.sms-heading--primary{
			font-size: 22px !important;
		}
		.sms-heading--secondary{
			font-size: 20px !important;
		}
		.sms-heading--tertiary{
			font-size: 18px !important;
		}
	}

}

// PARAGRAPH
// ---------
p {
	margin: @propLineHeight 0;

	small {
		color: @textColorAlt;
		font-size: @baseFontSize * .75;
		line-height: @line-height--unitless / 2;
	}

	// SPECIAL FIXES

	// fix for minimum paragraph widths
	&:before{
		content: "";
		width: 8em;
		display: block;
		overflow: hidden;
	}
	hyphenate: auto;
	hyphenate-before: 2;
	hyphenate-after: 3;
	hyphenate-lines: 3;
	orphans: 4;
}

// Links
// ---------
a{
	color: @linkColor;
	transition: color .2s linear, background .2s linear;
	&:hover{
		color: @linkColorHover;
		text-decoration: none;
	}
}




// SPECIAL MARKUP
// --------------
dt {
	font-weight:bold;
}
dd {
	font-style: italic;
}
sup {
	font-size:.7em;
	vertical-align: top;
	vertical-align:super;
}
sub {
	font-size:.7em;
	vertical-align: bottom;
}

big {
	font-size: 1.3em;
}

abbr,
acronym{
	border-bottom: .1em dotted;
	cursor: help;
}

q:before,
q:after{
	content: "'";
}

// CODE / PRE
// ----------
code{
	padding: 0 3px 2px;
	font-family: @codeFont;
	font-size: 12px;
	background-color: @dark-base;
	border: 1px solid darken(@dark-base, 8);
}
code {
	padding: 2px 4px;
}
body pre {
	display: block;
	padding: 8.5px;
	margin: 1em;
	font-size: 1em !important;
	line-height: 18px;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	code {
		padding: 0;
		color: inherit;
		background-color: transparent;
		border: 0;
	}
	&.pre-scrollable {
		max-height: 340px;
		overflow-y: scroll;
	}
}

// HEADINGS
// --------

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 400;
	text-rendering: optimizelegibility; // Fix the character spacing for headings

	line-height: 1;
	
	margin-bottom: 0.5em;

	small {
		font-weight: normal;
		font-size: 0.8em;
	}
	&:first-child{
		padding-top: 0;
	}
	+ p {margin-top:.4em;}
	> a{
		color: inherit;
		&:hover{
			color: @linkColor;
		}
	}
}

/* @ Header Special Cases */
h1 + img,
h2 + img{
	margin-top:1em;
}



// HEADINGS SIZING
// ---------------
h1{font-size: @font-size-h1}
h2{font-size: @font-size-h2}
h3{font-size: @font-size-h3}
h4{font-size: @font-size-h4}
h5{font-size: @font-size-h5}
h6{font-size: @font-size-h6}


// SMS HEADINGS SECTION STYLING
// ---------------

.section-sms-headings{
	hgroup{
		margin-bottom: 0.5em;
	}
}

.sms-heading--primary{font-size: @font-size-xxxlarge;}
.sms-heading--secondary{font-size: @font-size-xlarge;}
.sms-heading--tertiary{font-size: @font-size-large;}



.subhead{
	color: @textColorAlt;
	font-size: @smallerText;
}




// Page header
.page-header {
	padding-bottom: @baseLineHeight - 0.1;
	margin: @baseLineHeight*3 0 @baseLineHeight;
	border-bottom: 1px solid @hrBorder;
	h1{
		line-height: 1;
		margin: 0;
	}
}
.page-header-minor {
	margin: @baseLineHeight 0;
	padding: @baseLineHeight/2 0 ;
	border-bottom: 1px solid @hrBorder;
}




// LISTS
// -----



// HENTRY = Standard Long Form Text Formatting
// -------------------------------------------------
.hentry{	
	ul, 
	ol{
		padding: 0;
		margin: 0 0 1em 30px;
	}
	ol{
		list-style:decimal
		ol{
			list-style:lower-roman
			ol{
				list-style:lower-alpha
			}
		}
	}
	ul {
	  list-style: disc;
	}
	ol {
	  list-style: decimal;
	}

	ul ul,
	ul ol,
	ol ol,
	ol ul {
	  margin-bottom: 0;
	}

	p{
		margin: 0 0 @propLineHeight 0;
	}
}

// Unordered and Ordered lists

ol,
ul{
	list-style-type:none
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Description Lists
dl {
  margin-bottom: @baseLineHeight;
}
dt,
dd {
  line-height: @baseLineHeight;
}
dt {
  font-weight: bold;
  line-height: @baseLineHeight - 0.1; // fix jank Helvetica Neue font bug
}
dd {
  margin-left: @baseLineHeight / 2;
}

// Horizontal layout (like forms)
.dl-horizontal {
  dt {
    float: left;
    clear: left;
    width: 120px;
    text-align: right;
  }
  dd {
    margin-left: 130px;
  }
}

// Links
a {
	text-decoration:none;
	&:focus{
		outline:1px dotted invert;
	}
	&:active, &:focus{
		outline: none !important;
	}
}


input.searchfield:active {
   	outline: none !important;
}


// Horizontal rules
hr {
	clear:both;
	height:0;
	margin: @baseLineHeight 0;
	border: 0;
	border-bottom: 1px solid @hrBorder;
	&.soften {
		height: 1px;
		background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
		background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
		background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
		background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
		border: 0;
	}
}


// Emphasis
strong {
  // font-weight: @baseFontWeight + 200;
  font-weight: 600;
}
em {
  font-style: italic;
}
.muted {
  color: @grayLight;
}

// Special Ampersand
.spamp{
	font-family: 'Baskerville', Palatino, georgia;
	font-style: italic;
	font-weight: normal;
}

// Serif Style
.serifize{
	font-family: georgia, times, serif;
	font-style: italic;
	font-weight: normal;
}

// Abbreviations and acronyms
abbr[title] {
  border-bottom: 1px dotted #ddd;
  cursor: help;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
	padding: 0 0 0 15px;
	
	line-height: 32px;
	font-size: 22px;
	padding-left: 0px;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
	
	p {
		margin-bottom: 0;
		&:first-child{
			margin-top: 0;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	small, 
	cite{
		display: block;
		font-size: 15px;
		letter-spacing: 0;
		line-height: 1.5em;
		padding-left: 10px;
		&:before {
			content: '\2014 \00A0';
		}
	}
	
	&.side-right{
		float: right;
		max-width: 250px;
		margin: 0 0 10px 1em;
	}
	&.side-left{
		float: left;
		max-width: 250px;
		margin: 0 1em 10px -10px;
	}
	
  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-left: 0;
    margin-left: 15px;
    p,
    small {
      text-align: right;
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: @baseLineHeight;
  line-height: @line-height--unitless;
  font-style: normal;
}

// Misc
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
// Safari
::selection {
	background: @linkColor;
	color:contrast(@linkColor, @color-dark, @color-light, 50%);
	}
// Firefox
::-moz-selection {
	background: @linkColor;
	color:contrast(@linkColor, @color-dark, @color-light, 50%);
}

// -----------
// Image Styles
// styled images added from Bootstrap
// PageLines 2.3
// BA
// -----------

.muted {
  color: @grayLight;
}
.text-warning {
  color: @warningText;
}
.text-error {
  color: @errorText;
}
.text-info {
  color: @infoText;
}
.text-success {
  color: @successText;
}


.font-preview-wrapper{
	small{
		display:block;
		margin-top: -10px;
		font-family: monaco, monospace;
	}
}
