// Variables.less
// Variables to customize structural elements in PageLines
// -----------------------------------------------------

// Responsive
// -------------------------

// Reference ---------------
// PORTRAIT TABLET TO DEFAULT 			-- @media (min-width: 768px) and (max-width: 979px) { }
// LARGE DESKTOP & UP 					-- @media (min-width: 1200px) { }
// PHONE TO NETBOOK & PORTRAIT TABLET 	-- @media (max-width: 767px) { }
// UP TO LANDSCAPE PHONE 				-- @media (max-width: 480px) { }
@resLargeDesktop:   1200px;
@resDesktop:        979px;
@resPortraitTablet: 768px;
@resPhoneLandscape: 480px;


// Scaffolding
// -------------------------
@bodyBackground:        @pl-background;

// Typography
// -------------------------
// 
// DMS SKELETON VARS
// @font-size-base: @font-scale-base-rem; // php generated var
@font-size-base: @font-scale-base-rem; // php generated var
@line-height--unitless: 1.25;
@line-height--em: 1.25em;

@elementSpacingUnit: 1rem;


// DMS PARENT THEME VARS
@baseFontSize:          @font-size-base; //rem
@baseLineHeight:        @line-height--unitless * 1em; //em
@propLineHeight:        @font-size-base * @line-height--unitless; // Used for margin and padding in a few places

@baseHeaderSize:        @font-size-medium;

@defaultFont:           "Open Sans", "Helvetica Neue", "Helvetica", Arial, serif;
@codeFont:              Menlo, Monaco, "Courier New", monospace;

@baseFontFamily:        @plBaseFont;
@baseFontWeight:        @plBaseWeight;

// DEPRECATED //
@altFontFamily:         @baseFontFamily;
@altFontWeight:         @plBaseWeight;

@headingsFontFamily:    @plHeaderFont; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    @plHeaderWeight;    // instead of browser default, bold

@miniFontSize:          11px;
@smallerText:           82%;

// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:         @font-size-large;
@fontSizeSmall:         @font-size-small;
@fontSizeMini:          @font-size-mini;

@paddingLarge:          1.1rem 1.9rem; // 44px
@paddingSmall:          0.2rem 1rem;  // 26px
@paddingMini:           0 0.6rem;   // 22px

@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;

// Buttons
// -------------------------
@themeColor: @pl-link; //@pl-link => pl_setting('linkcolor')
@buttonFontSize:        1.4rem;
@buttonFontFamily:      @defaultFont;

@headingsColor:         inherit; // empty to use BS default, @textColor

@h1Size:                @font-size-h1;
@h2Size:                @font-size-h2;
@h3Size:                @font-size-h3;
@h4Size:                @font-size-h4;
@h5Size:                @font-size-h5;
@h6Size:                @font-size-h6;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:		180px;
@inputHeight:           @baseLineHeight * 1.5;


// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
@zindexDropdown:        1000;
@zindexNavbar:          1001;
@zindexEditor:          1005;


@zindexFixedNavbar:     1030;
@zindexPopover:         1035;
@zindexTooltip:         1035;
@zindexModalBackdrop:   1040;
@zindexModal:           1050;

// GRID
// --------------------------------------------------

@fluidGridColumnWidth:  6.382978723%;
@fluidGridGutterWidth:  2.127659574%;

// Default 940px grid
// -------------------------
@gridColumns:           12;
@gridColumnWidth:       60px;
@gridGutterWidth:       20px;
@gridRowWidth:          (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));
@gridRowSpace:          @baseLineHeight;


// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBackground:       #000;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       #fff;
@popoverArrowWidth:       10px;
@popoverArrowColor:       #fff;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);
