.grid figure {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 0;
  img {
    width: 100%;
    display: block;
    position: relative;
  }
}
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #f5f5f5;
  p { padding: 0 }
  h3 {
    margin: 0;
    margin-bottom: 2px;
  }
}