.widget.gform_widget{
  li{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  li, h2.widgettitle, h3.widgettitle{
    border-bottom: none;
  }
  input[type="text"], textarea{
    width: 100%;
  }
}

// CSS column styles for Gravity Forms
li.gf_left_half, .ginput_left{
  width: 47%;
  display: inline-block;
  padding-right: 3%;
}
li.gf_right_half, .ginput_right{
  width: 47%;
  display: inline-block;
  padding-left: 3%;
}

// Gravity form utility classes

.gform_body .gform_validation_container{
  display: none !important;
}
  
  
// Gravity form styling fixes 
.gform_fields{
  label {  
    cursor: pointer;
    position: relative;
  }
  input{
    width: 100%;
  }
  & > li{
    margin-bottom: 1rem;
  }
  .gfield_checkbox, .gfield_radio{
    label{
      display: inline-block;
    }
  }
}

// Styles for small forms (used in footer and embedded on pages)
.tiny-form{
  li{
    border: none;
    padding: 0px;
  }
  .gfield_label{
    font-size: 12px;
    line-height: 16px;
  }
  input[type="text"]{
    height: auto;
  }
  input[type="text"], textarea{
    padding: 4px;

    padding-left: 5px;
    font-size: 12px;
    width: 100%;
    line-height: 16px;
  }
  textarea{
    height: 5em;
  }
  .gform_button{
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
  }

}
.pl-black, .pl-dark-img, .pl-grey, .sms-dark{
  // ============================================================
  // Styles for form placeholders on dark backgrounds
  // ------------------------------------------------------------
  @placeHolderColor: rgba(255,255,255,.6);
  *::-webkit-input-placeholder {color: @placeHolderColor}
  *:-moz-placeholder {color: @placeHolderColor}
  *::-moz-placeholder {color: @placeHolderColor}
  *:-ms-input-placeholder {color: @placeHolderColor}
  // ============================================================


  input[type="text"], input[type="email"], input[type="tel"], input[type="number"], textarea, select{
    border-color: #333;
    border-color: rgba(255,255,255,.1);
    background: rgba(255,255,255,.2);
    color: #eee;
    color: rgba(255,255,255,.6);
    margin-bottom: 5px;
    &:hover, &:active, &:focus{
      border-color: rgba(255,255,255,.3);
      color: #fff;
    }
  }
  label{
    opacity: 0.6;
  }
  .gform_button{
    background: #000;
    color: rgba(255,255,255,.7);
    background: rgba(0,0,0,.05);
    border-color: rgba(255,255,255,.5);
    padding-left: 10px;
    padding-right: 10px;
    &:hover{
      color: #fff;
      border-color: rgba(255,255,255,.7);
    }
  }
}
