// ADD BORDER
// *****************

.border-top, .border-bottom, .border-left, .border-right {
	border-style: solid;
	border-width: 1px;
}

.sms-light{
	.border-top, .border-bottom, .border-left, .border-right {
		border-color: @color-dark;
	}
}

.sms-dark{
	.border-top, .border-bottom, .border-left, .border-right {
		border-color: @color-light;
	}
}

.border-radius-small{border-radius: 4px;}
.border-radius-medium, .border-radius{border-radius: 6px;}
.border-radius-large{border-radius: 10px;}
