
// SECTION FILL COLORS
// *****************
.fill {
  &.theme {
    background-color: @linkColor;
  }
  &.primary {
    background-color: @btnPrimaryBackground;
  }
  &.info {
    background-color: @btnInfoBackground;
  }
  &.warning {
    background-color: @btnWarningBackground;
  }
  &.success {
    background-color: @btnSuccessBackground;
  }
  &.important {
    background-color: @btnImportantBackground;
  }
  &.default {
    background-color: @btnInverseBackground;
  }
  // &.white {
  //   background-color: @white;
  // }
  // &.black {
  //   background-color: @black;
  // }
  &.lighter {
    background-color: #f7f7f7;
  }
  &.charcoal {
    background-color: @grayDark;
  }
  &.white {
    background-color: white;
  }
  &.white-1 {
    background-color: rgba(255,255,255,.1);
  }
  &.white-2 {
    background-color: rgba(255,255,255,.2);
  }
  &.white-3 {
    background-color: rgba(255,255,255,.3);
  }
  &.white-4 {
    background-color: rgba(255,255,255,.4);
  }
  &.white-5 {
    background-color: rgba(255,255,255,.5);
  }
  &.white-6 {
    background-color: rgba(255,255,255,.6);
  }
  &.white-7 {
    background-color: rgba(255,255,255,.7);
  }
  &.white-8 {
    background-color: rgba(255,255,255,.8);
  }
  &.white-9 {
    background-color: rgba(255,255,255,.9);
  }
  &.black {
    background-color: black;
  }
  &.black-1 {
    background-color: rgba(0,0,0,.1);
  }
  &.black-2 {
    background-color: rgba(0,0,0,.2);
  }
  &.black-3 {
    background-color: rgba(0,0,0,.3);
  }
  &.black-4 {
    background-color: rgba(0,0,0,.4);
  }
  &.black-5 {
    background-color: rgba(0,0,0,.5);
  }
  &.black-6 {
    background-color: rgba(0,0,0,.6);
  }
  &.black-7 {
    background-color: rgba(0,0,0,.7);
  }
  &.black-8 {
    background-color: rgba(0,0,0,.8);
  }
  &.black-9 {
    background-color: rgba(0,0,0,.9);
  }
}
