// Rounded corners
.images-rounded img{
  .border-radius(6px);
}

// Add polaroid-esque trim
.images-polaroid img{
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  .box-shadow(0 1px 3px rgba(0,0,0,.1));
}

// Perfect circle
.images-circle img{
  .border-radius(500px); // crank the border-radius so it works with most reasonably sized images
}
