// Allow full width sections by setting the section class to "full-width"
.section-pl_area.full-width .pl-content{
  max-width: none;
}

// positioning utility classes
.pos-rel{position: relative;}
.pos-reli{position: relative !important;}

.pos-abs{position: absolute;}
.pos-absi{position: absolute !important;}

// Full height and vertical centering for bands

.pl-area.sms-window-height{
  min-height: 100vh;
  .pl-area-pad{
    display: table;
    width: 100%;
    height: 100vh;
  }
  
  &.sms-vcenter-pl-area{
    .pl-area-wrap{
      display: table-cell;
      vertical-align: middle;
      padding: 0 !important;
    }
    .pl-content{
      box-sizing: border-box;
    }
  }
}

// REMOVE PAGELINES PADDING AND MARGIN
// *******************************

body {
  .section-npv, .section-no-padding-vertical{
    .pl-section-pad {
      padding-top:0 !important;
      padding-bottom:0 !important;
      margin-bottom: 0 !important;
    }
  }
  // No padding top .pl-section-pad
  .section-npt, .section-no-padding-top {
    .pl-section-pad {
      padding-top:0 !important;
    }
  }
  // No padding bottom .pl-section-pad
  .section-npb, .section-no-padding-bottom {
    .pl-section-pad {
      padding-bottom:0 !important;
      margin-bottom: 0 !important;
    }
  }
  .section-np, .section-no-padding{
    .pl-section-pad {
      padding:0 !important;
      margin-bottom: 0 !important;
    }
  }

  // No margin bottom
  .section-nmb, .section-no-margin-bottom {
    .pl-section-pad {
      margin-bottom:0 !important;
    }
  }
  // No padding or margin on top and bottom
  .section-reset {
    .pl-section-pad {
      padding-top:0 !important;
      padding-bottom:0 !important;
      margin:0 !important;
    }
    .textbox-wrap {
      padding-top:0 !important;
      padding-bottom:0 !important;
    }
  }
  // No padding on top and bottom of text boxes within a section
  .section-textbox-reset {
    .textbox-wrap {
      padding-top:0 !important;
      padding-bottom:0 !important;
    }
  }


  // No padding top on .textbox-wrap
  .text-npt {
    .pl-section-pad .textbox-wrap {
      padding-top:0;
    }
  }
  // No padding bottom on .textbox-wrap
  .text-npb {
    .pl-section-pad .textbox-wrap{
      padding-bottom:0;
    }
  }
  // No padding on .textbox-wrap
  .text-npb {
    .pl-section-pad .textbox-wrap{
      padding-top:0;
      padding-bottom:0;
    }
  }
}

// DISPLAY OPTIONS
// ******************
.left-right {
  *zoom: 1;
}
.left-right:before, .left-right:after {
  content: " ";
  display: table;
}
.left-right:after {
  clear: both;
}
.left-right>.left {
  float: left;
}
.left-right>.right {
  float: right;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.auto-margin {
  margin-left: auto;
  margin-right: auto;
}
.inline, .inline-row>*, .inline-row.left-right>.left>*, .inline-row.left-right>.right>*, form.inline .interaction, form.inline label, .toggle.inline, .toggle .checkbox, .toggle .radio, .toggle input[type="checkbox"], .toggle input[type="radio"], .select, #our-story .team-members .team-member {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.inline-block {
  display: inline-block!important;
}
.block {
  display: block!important;
}

// PADDING SETTINGS
// *****************

// Fix padding issue on columns that makes them too wide to fit into their parent.
// .row > [class*="span"][class*="padding"] {
.row .padding.span4{
  box-sizing: border-box;
}
.no-padding .pl-section-pad{
  padding: 0 !important;
}
.padding{padding:@elementSpacingUnit !important}
.padding-small{padding:@elementSpacingUnit/2 !important}
.padding-large{padding:@elementSpacingUnit*2 !important}

.no-padding{padding:0!important}
.no-padding-top{padding-top:0!important}
.no-padding-bottom{padding-bottom:0!important}
.no-padding-left{padding-left:0!important}
.no-padding-right{padding-right:0!important}
.padding-right{padding-right:@elementSpacingUnit !important}
.padding-right-small{padding-right:@elementSpacingUnit/2 !important}
.padding-right-large{padding-right:@elementSpacingUnit*2 !important}
.padding-left{padding-left:@elementSpacingUnit !important}
.padding-left-small{padding-left:@elementSpacingUnit/2 !important}
.padding-left-large{padding-left:@elementSpacingUnit*2 !important}
.padding-top{padding-top:@elementSpacingUnit !important}
.padding-top-small{padding-top:@elementSpacingUnit/2 !important}
.padding-top-large{padding-top:@elementSpacingUnit*2 !important}
.padding-bottom{padding-bottom:@elementSpacingUnit !important}
.padding-bottom-small{padding-bottom:@elementSpacingUnit/2 !important}
.padding-bottom-large{padding-bottom:@elementSpacingUnit*2 !important}
.padding-horizontal{padding-right:@elementSpacingUnit !important;padding-left:@elementSpacingUnit !important}
.padding-horizontal-small{padding-right:@elementSpacingUnit/2 !important;padding-left:@elementSpacingUnit/2 !important}
.padding-horizontal-large{padding-right:@elementSpacingUnit*2 !important;padding-left:@elementSpacingUnit*2 !important}
.padding-vertical{padding-top:@elementSpacingUnit !important;padding-bottom:@elementSpacingUnit !important}
.padding-vertical-small{padding-top:@elementSpacingUnit/2 !important;padding-bottom:@elementSpacingUnit/2 !important}
.padding-vertical-large{padding-top:@elementSpacingUnit*2 !important;padding-bottom:@elementSpacingUnit*2 !important}

// MARGIN SETTINGS
// *********************
.no-margin{margin:0!important}
.no-margin-top{margin-top:0!important}
.no-margin-bottom{margin-bottom:0!important}
.no-margin-left{margin-left:0!important}
.no-margin-right{margin-right:0!important}
.margin-right{margin-right:@elementSpacingUnit!important}
.margin-right-small{margin-right:@elementSpacingUnit/2 !important}
.margin-right-large{margin-right:@elementSpacingUnit*2 !important}
.margin-left{margin-left:@elementSpacingUnit!important}
.margin-left-small{margin-left:@elementSpacingUnit/2 !important}
.margin-left-large{margin-left:@elementSpacingUnit*2 !important}
.margin-top{margin-top:@elementSpacingUnit!important}
.margin-top-small{margin-top:@elementSpacingUnit/2 !important}
.margin-top-large{margin-top:@elementSpacingUnit*2 !important}
.margin-bottom{margin-bottom:@elementSpacingUnit!important}
.margin-bottom-small{margin-bottom:@elementSpacingUnit/2 !important}
.margin-bottom-large{margin-bottom:@elementSpacingUnit*2 !important}
.margin-horizontal{margin-right:@elementSpacingUnit!important;margin-left:@elementSpacingUnit!important}
.margin-horizontal-small{margin-right:@elementSpacingUnit/2 !important;margin-left:@elementSpacingUnit/2 !important}
.margin-horizontal-large{margin-right:@elementSpacingUnit*2 !important;margin-left:@elementSpacingUnit*2 !important}
.margin-vertical{margin-top:@elementSpacingUnit!important;margin-bottom:@elementSpacingUnit!important}
.margin-vertical-small{margin-top:@elementSpacingUnit/2 !important;margin-bottom:@elementSpacingUnit/2 !important}
.margin-vertical-large{margin-top:@elementSpacingUnit*2 !important;margin-bottom:@elementSpacingUnit*2 !important}

////////////////////////////////////////////////
// Margin Top
// 
// ====== EM ========
// === Top Push =====

.mt-0-1em{margin-top:0.1em !important}
.mt-0-2em{margin-top:0.2em !important}
.mt-0-3em{margin-top:0.3em !important}
.mt-0-4em{margin-top:0.4em !important}
.mt-0-5em{margin-top:0.5em !important}
.mt-0-6em{margin-top:0.6em !important}
.mt-0-7em{margin-top:0.7em !important}
.mt-0-8em{margin-top:0.8em !important}
.mt-0-9em{margin-top:0.9em !important}

.mt-1em{margin-top:1em !important}

.mt-1-2em{margin-top:1.2em !important}
.mt-1-3em{margin-top:1.3em !important}
.mt-1-4em{margin-top:1.4em !important}
.mt-1-5em{margin-top:1.5em !important}
.mt-1-6em{margin-top:1.6em !important}
.mt-1-7em{margin-top:1.7em !important}
.mt-1-8em{margin-top:1.8em !important}
.mt-1-9em{margin-top:1.9em !important}

.mt-2em{margin-top:2em !important}

// ====== EM ========
// === Top Pull =====

.mtp-0-1em{margin-top:-0.1em !important}
.mtp-0-2em{margin-top:-0.2em !important}
.mtp-0-3em{margin-top:-0.3em !important}
.mtp-0-4em{margin-top:-0.4em !important}
.mtp-0-5em{margin-top:-0.5em !important}
.mtp-0-6em{margin-top:-0.6em !important}
.mtp-0-7em{margin-top:-0.7em !important}
.mtp-0-8em{margin-top:-0.8em !important}
.mtp-0-9em{margin-top:-0.9em !important}

.mtp-1em{margin-top:-1em !important}

.mtp-1-2em{margin-top:-1.2em !important}
.mtp-1-3em{margin-top:-1.3em !important}
.mtp-1-4em{margin-top:-1.4em !important}
.mtp-1-5em{margin-top:-1.5em !important}
.mtp-1-6em{margin-top:-1.6em !important}
.mtp-1-7em{margin-top:-1.7em !important}
.mtp-1-8em{margin-top:-1.8em !important}
.mtp-1-9em{margin-top:-1.9em !important}

.mtp-2em{margin-top:-2em !important}

////////////////////////////////////////////////
// Margin Bottom
// 
// ====== EM ========
// = Bottom Push ====

.mb-0-1em{margin-bottom:0.1em !important}
.mb-0-2em{margin-bottom:0.2em !important}
.mb-0-3em{margin-bottom:0.3em !important}
.mb-0-4em{margin-bottom:0.4em !important}
.mb-0-5em{margin-bottom:0.5em !important}
.mb-0-6em{margin-bottom:0.6em !important}
.mb-0-7em{margin-bottom:0.7em !important}
.mb-0-8em{margin-bottom:0.8em !important}
.mb-0-9em{margin-bottom:0.9em !important}

.mb-1em{margin-bottom:1em !important}

.mb-1-2em{margin-bottom:1.2em !important}
.mb-1-3em{margin-bottom:1.3em !important}
.mb-1-4em{margin-bottom:1.4em !important}
.mb-1-5em{margin-bottom:1.5em !important}
.mb-1-6em{margin-bottom:1.6em !important}
.mb-1-7em{margin-bottom:1.7em !important}
.mb-1-8em{margin-bottom:1.8em !important}
.mb-1-9em{margin-bottom:1.9em !important}

.mb-2em{margin-bottom:2em !important}

// ===== EM ========
// = Bottom Pull ===

.mbp-0-1em{margin-bottom: -0.1em !important}
.mbp-0-2em{margin-bottom: -0.2em !important}
.mbp-0-3em{margin-bottom: -0.3em !important}
.mbp-0-4em{margin-bottom: -0.4em !important}
.mbp-0-5em{margin-bottom: -0.5em !important}
.mbp-0-6em{margin-bottom: -0.6em !important}
.mbp-0-7em{margin-bottom: -0.7em !important}
.mbp-0-8em{margin-bottom: -0.8em !important}
.mbp-0-9em{margin-bottom: -0.9em !important}

.mbp-1em{margin-bottom: -1em !important}

.mbp-1-2em{margin-bottom: -1.2em !important}
.mbp-1-3em{margin-bottom: -1.3em !important}
.mbp-1-4em{margin-bottom: -1.4em !important}
.mbp-1-5em{margin-bottom: -1.5em !important}
.mbp-1-6em{margin-bottom: -1.6em !important}
.mbp-1-7em{margin-bottom: -1.7em !important}
.mbp-1-8em{margin-bottom: -1.8em !important}
.mbp-1-9em{margin-bottom: -1.9em !important}

.mbp-2em{margin-bottom: -2em !important}


////////////////////////////////////////////////


#page section.fixed-bg{
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  // background-position: top center;
  // -webkit-background-size: 100% auto;
  // -moz-background-size: 100% auto;
  // -ms-background-size: 100% auto;
  // -o-background-size: 100% auto;
  // background-size: 100% auto;
}
// @media (max-width: 767px) {
//   // background-attachment: scroll !important;
//   background-position: top center;
//   -webkit-background-size: cover !important;
//   -ms-background-size: cover !important;
//   -moz-background-size: cover !important;
//   -o-background-size: cover !important;
//   background-size: cover !important;
// }

#page .bg-top-center{
  background-position: top center !important;
}
#page .bg-bottom-center{
  background-position: bottom center !important;
}
