
// Font Color Classes
.dms-font {
  &.theme {
    color: @linkColor;
  }
  &.primary {
    color: @btnPrimaryBackground;
  }
  &.info {
    color: @btnInfoBackground;
  }
  &.warning {
    color: @btnWarningBackground;
  }
  &.success {
    color: @btnSuccessBackground;
  }
  &.important {
    color: @btnImportantBackground;
  }
  &.default {
    color: @btnInverseBackground;
  }
  &.white {
    color: @white;
  }
  &.black {
    color: @black;
  }
}
// DIV & TEXT TRANSFORMS
// ******************

.hidden {
  display: none;
  z-index: 2;
}
.hidden:hover {
  display: block;
}
*:hover>.hidden {
  display: block;
}
.concealed {
  display: none;
}
.undecorate {
  text-decoration: none;
}
.untransform {
  text-transform: none!important;
}
.no-cursor {
  cursor: auto!important;
}


.align-left{text-align: left}
.align-center{text-align: center}
.align-right{text-align: right}
.align-justify{text-align: justify}
.align-initial{text-align: initial}
.align-inherit{text-align: inherit}

.align-lefti{text-align: left !important}
.align-centeri{text-align: center !important}
.align-righti{text-align: right !important}
.align-justifyi{text-align: justify !important}
.align-initiali{text-align: initial !important}
.align-inheriti{text-align: inherit !important}

// TEXT STYLES
// ******************

.text-small-caps, .small-caps{font-variant: small-caps;}
.text-capitalize, .capitalize{text-transform: capitalize;}
.text-lowercase, .lowercase{text-transform: lowercase;}
.text-uppercase, .uppercase {text-transform: uppercase;}
.text-italic, .text-italics, .italics, .emphasis {font-style: italic;}
.text-italici, .text-italicsi, .italicsi, .emphasisi {font-style: italic !important;}

.bold, .strong, .text-bold, .text-strong {
  font-weight: bold;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

.with-hr {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: @elementSpacingUnit;
  margin-bottom: @elementSpacingUnit;

  &.large-space {
  padding-bottom: @elementSpacingUnit*2;
  margin-bottom: @elementSpacingUnit*2;
  }

  &.dashed {
    border-bottom: 1px dashed #e3e3e3;
  }

  &.dotted {
    border-bottom: 1px dotted #e3e3e3;
  }
}


// TEXT SHADOW
// *****************

.text-shadow-1 {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
.text-shadow-2 {text-shadow: 2px 4px 3px rgba(0,0,0,0.3)}
.text-shadow-3 {text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.75)}
.text-shadow-4 {text-shadow: 1px 0px 0px rgba(0, 0, 0, 1)}
.text-shadow-5 {text-shadow: 0 1px 5px rgba(0, 0, 0, .2)}


// FONT WEIGHT
// *********************
.fw-100{font-weight: 100}
.fw-200{font-weight: 200}
.fw-300{font-weight: 300}
.fw-400{font-weight: 400}
.fw-500{font-weight: 500}
.fw-600{font-weight: 600}
.fw-700{font-weight: 700}
.fw-800{font-weight: 800}
//important variation
.fwi-100, .fw-100i{font-weight: 100 !important}
.fwi-200, .fw-200i{font-weight: 200 !important}
.fwi-300, .fw-300i{font-weight: 300 !important}
.fwi-400, .fw-400i{font-weight: 400 !important}
.fwi-500, .fw-500i{font-weight: 500 !important}
.fwi-600, .fw-600i{font-weight: 600 !important}
.fwi-700, .fw-700i{font-weight: 700 !important}
.fwi-800, .fw-800i{font-weight: 800 !important}

// LINE HEIGHT
// *********************
.lh-0-1, .lh-0-1x{line-height:0.1}
.lh-0-2, .lh-0-2x{line-height:0.2}
.lh-0-3, .lh-0-3x{line-height:0.3}
.lh-0-4, .lh-0-4x{line-height:0.4}
.lh-0-5, .lh-0-5x{line-height:0.5}
.lh-0-6, .lh-0-6x{line-height:0.6}
.lh-0-7, .lh-0-7x{line-height:0.7}
.lh-0-8, .lh-0-8x{line-height:0.8}
.lh-0-9, .lh-0-9x{line-height:0.9}

.lh-1, .lh-1x{line-height:1}

.lh-1-1, .lh-1-1x{line-height:1.1}
.lh-1-2, .lh-1-2x{line-height:1.2}
.lh-1-3, .lh-1-3x{line-height:1.3}
.lh-1-4, .lh-1-4x{line-height:1.4}
.lh-1-5, .lh-1-5x{line-height:1.5}
.lh-1-6, .lh-1-6x{line-height:1.6}
.lh-1-7, .lh-1-7x{line-height:1.7}
.lh-1-8, .lh-1-8x{line-height:1.8}
.lh-1-9, .lh-1-9x{line-height:1.9}
.lh-2, .lh-2x{line-height:2}

// !important variations
.lh-0-1i, .lh-0-1xi{line-height:0.1 !important}
.lh-0-2i, .lh-0-2xi{line-height:0.2 !important}
.lh-0-3i, .lh-0-3xi{line-height:0.3 !important}
.lh-0-4i, .lh-0-4xi{line-height:0.4 !important}
.lh-0-5i, .lh-0-5xi{line-height:0.5 !important}
.lh-0-6i, .lh-0-6xi{line-height:0.6 !important}
.lh-0-7i, .lh-0-7xi{line-height:0.7 !important}
.lh-0-8i, .lh-0-8xi{line-height:0.8 !important}
.lh-0-9i, .lh-0-9xi{line-height:0.9 !important}

.lh-1x, .lh-1xi{line-height:1 !important}

.lh-1-1i, .lh-1-1xi{line-height:1.1 !important}
.lh-1-2i, .lh-1-2xi{line-height:1.2 !important}
.lh-1-3i, .lh-1-3xi{line-height:1.3 !important}
.lh-1-4i, .lh-1-4xi{line-height:1.4 !important}
.lh-1-5i, .lh-1-5xi{line-height:1.5 !important}
.lh-1-6i, .lh-1-6xi{line-height:1.6 !important}
.lh-1-7i, .lh-1-7xi{line-height:1.7 !important}
.lh-1-8i, .lh-1-8xi{line-height:1.8 !important}
.lh-1-9i, .lh-1-9xi{line-height:1.9 !important}
.lh-2i, .lh-2xi{line-height:2 !important}



// FONT SIZES
// *********************

// Font size and set line spacing to match.
#fontSizeMixin {
    .font-size( @target: @basefont ) {
        font-size: round(@target);
        line-height: round(@target * 1);
    }
}

.font-serif{font-family:                @font-serif}
.font-serif-alt{font-family:            @font-serif-alt}
.font-sans-serif{font-family:           @font-sans-serif}
.font-sans-serif-alt{font-family:       @font-sans-serif-alt}
.font-condensed-serif{font-family:      @font-condensed-serif}
.font-condensed-sans-serif{font-family: @font-condensed-sans-serif}
.font-slab-serif{font-family:           @font-slab-serif}
.font-script{font-family:               @font-script}
.font-decorative{font-family:           @font-decorative}


//remove unit
// @plHeaderLineHeight: unit(@propLineHeight / 10);

.fs-xxxxxlarge, .fs-7x{font-size:       @font-size-xxxxxlarge;}
.fs-xxxxlarge, .fs-6x{font-size:        @font-size-xxxxlarge;}
.fs-xxxlarge, .fs-5x{font-size:         @font-size-xxxlarge;}
.fs-xxlarge, .fs-4x{font-size:          @font-size-xxlarge;}
.fs-xlarge, .fs-3x{font-size:           @font-size-xlarge;}
.fs-large, .fs-2x{font-size:            @font-size-large;}
.fs-medium, .fs-1x{font-size:           @font-size-medium;}
.fs-small{font-size:                    @font-size-small;}
.fs-mini{font-size:                     @font-size-mini;}

@media screen and (max-width: @resPortraitTablet) {
  .mfs-xxxxxlarge, .mfs-7x{font-size:       @font-size-xxxxxlarge !important}
  .mfs-xxxxlarge, .mfs-6x{font-size:        @font-size-xxxxlarge !important}
  .mfs-xxxlarge, .mfs-5x{font-size:         @font-size-xxxlarge !important}
  .mfs-xxlarge, .mfs-4x{font-size:          @font-size-xxlarge !important}
  .mfs-xlarge, .mfs-3x{font-size:           @font-size-xlarge !important}
  .mfs-large, .mfs-2x{font-size:            @font-size-large !important}
  .mfs-medium, .mfs-1x{font-size:           @font-size-medium !important}
  .mfs-small{font-size:                    @font-size-small !important}
  .mfs-mini{font-size:                     @font-size-mini !important}
}

// .fs-xxxxxlarge{font-size: #fontSizeMixin > .font-size(@font-size-xxxxxlarge)}
// .fs-xxxxlarge{font-size: #fontSizeMixin > .font-size(@font-size-xxxxlarge)}
// .fs-xxxlarge{font-size: #fontSizeMixin > .font-size(@font-size-xxxlarge)}
// .fs-xxlarge{font-size: #fontSizeMixin > .font-size(@font-size-xxlarge)}
// .fs-xlarge{font-size: #fontSizeMixin > .font-size(@font-size-xlarge)}
// .fs-large{font-size: #fontSizeMixin > .font-size(@font-size-large)}
// .fs-medium{font-size: #fontSizeMixin > .font-size(@font-size-medium)}
// .fs-small{font-size: #fontSizeMixin > .font-size(@font-size-small)}
// .fs-mini{font-size: #fontSizeMixin > .font-size(@font-size-mini)}

// @media screen and (max-width: @resPortraitTablet) {
//   // Scale down giant headers on mobile devices
//   .fs-large{#fontSizeMixin > .font-size(@plHeaderSize-large*.8)}
//   .fs-xlarge{#fontSizeMixin > .font-size(@plHeaderSize-xlarge*.75)}
//   .fs-xxlarge{#fontSizeMixin > .font-size(@plHeaderSize-xxlarge*.7)}
//   .fs-xxxlarge{#fontSizeMixin > .font-size(@plHeaderSize-xxxlarge*.65)}
//   .fs-xxxxlarge{#fontSizeMixin > .font-size(@plHeaderSize-xxxxlarge*.6)}
//   

// These classes are used to change the scaling font unit of a module. 
// If you set the rem of a parent container, it will effect all the child font sizes.  
  
@media only screen and (max-width: 480px) {
  .fs-mobile-rem-01, .font-size-mobile-rem-01 { font-size: 0.1rem}
  .fs-mobile-rem-02, .font-size-mobile-rem-02 { font-size: 0.2rem}
  .fs-mobile-rem-03, .font-size-mobile-rem-03 { font-size: 0.3rem}
  .fs-mobile-rem-04, .font-size-mobile-rem-04 { font-size: 0.4rem}
  .fs-mobile-rem-05, .font-size-mobile-rem-05 { font-size: 0.5rem}
  .fs-mobile-rem-06, .font-size-mobile-rem-06 { font-size: 0.6rem}
  .fs-mobile-rem-07, .font-size-mobile-rem-07 { font-size: 0.7rem}
  .fs-mobile-rem-08, .font-size-mobile-rem-08 { font-size: 0.8rem}
  .fs-mobile-rem-09, .font-size-mobile-rem-09 { font-size: 0.9rem}

  .fs-mobile-rem-10, .font-size-mobile-rem-10 { font-size: 1rem}

  .fs-mobile-rem-11, .font-size-mobile-rem-11 { font-size: 1.1rem}
  .fs-mobile-rem-12, .font-size-mobile-rem-12 { font-size: 1.2rem}
  .fs-mobile-rem-13, .font-size-mobile-rem-13 { font-size: 1.3rem}
  .fs-mobile-rem-14, .font-size-mobile-rem-14 { font-size: 1.4rem}
  .fs-mobile-rem-15, .font-size-mobile-rem-15 { font-size: 1.5rem}
  .fs-mobile-rem-16, .font-size-mobile-rem-16 { font-size: 1.6rem}
  .fs-mobile-rem-17, .font-size-mobile-rem-17 { font-size: 1.7rem}
  .fs-mobile-rem-18, .font-size-mobile-rem-18 { font-size: 1.8rem}
  .fs-mobile-rem-19, .font-size-mobile-rem-19 { font-size: 1.9rem}

  .fs-mobile-rem-20, .font-size-mobile-rem-20 { font-size: 2rem}

  .fs-m-10 { font-size: 10px }
  .fs-m-11 { font-size: 11px }
  .fs-m-12 { font-size: 12px }
  .fs-m-13 { font-size: 13px }
  .fs-m-14 { font-size: 14px }
  .fs-m-15 { font-size: 15px }
  .fs-m-16 { font-size: 16px }
  .fs-m-17 { font-size: 17px }
  .fs-m-18 { font-size: 18px }
  .fs-m-19 { font-size: 19px }
  .fs-m-20 { font-size: 20px }
}
// }

// LETTER SPACING
// ******************
.ls-0{letter-spacing:0}
.ls-1{letter-spacing:.01em}
.ls-2{letter-spacing:.02em}
.ls-3{letter-spacing:.03em}
.ls-4{letter-spacing:.04em}
.ls-5{letter-spacing:.05em}
.ls-6{letter-spacing:.06em}
.ls-7{letter-spacing:.07em}
.ls-8{letter-spacing:.08em}
.ls-9{letter-spacing:.09em}
.ls-10{letter-spacing:.1em}
.ls-11{letter-spacing:.11em}
.ls-12{letter-spacing:.12em}
.ls-13{letter-spacing:.13em}
.ls-14{letter-spacing:.14em}
.ls-15{letter-spacing:.15em}
.ls-16{letter-spacing:.16em}
.ls-17{letter-spacing:.17em}
.ls-18{letter-spacing:.18em}
.ls-19{letter-spacing:.19em}
.ls-20{letter-spacing:.2em}
.ls-21{letter-spacing:.21em}
.ls-22{letter-spacing:.22em}
.ls-23{letter-spacing:.23em}
.ls-24{letter-spacing:.24em}
.ls-25{letter-spacing:.25em}
.ls-26{letter-spacing:.26em}
.ls-27{letter-spacing:.27em}
.ls-28{letter-spacing:.28em}
.ls-29{letter-spacing:.29em}
.ls-30{letter-spacing:.3em}
.ls-31{letter-spacing:.31em}
.ls-32{letter-spacing:.32em}
.ls-33{letter-spacing:.33em}
.ls-34{letter-spacing:.34em}
.ls-35{letter-spacing:.35em}
.ls-36{letter-spacing:.36em}
.ls-37{letter-spacing:.37em}
.ls-38{letter-spacing:.38em}
.ls-39{letter-spacing:.39em}
.ls-40{letter-spacing:.4em}

.ls-0i{letter-spacing:0 !important}
.ls-1i{letter-spacing:.01em !important}
.ls-2i{letter-spacing:.02em !important}
.ls-3i{letter-spacing:.03em !important}
.ls-4i{letter-spacing:.04em !important}
.ls-5i{letter-spacing:.05em !important}
.ls-6i{letter-spacing:.06em !important}
.ls-7i{letter-spacing:.07em !important}
.ls-8i{letter-spacing:.08em !important}
.ls-9i{letter-spacing:.09em !important}
.ls-10i{letter-spacing:.1em !important}
.ls-11i{letter-spacing:.11em !important}
.ls-12i{letter-spacing:.12em !important}
.ls-13i{letter-spacing:.13em !important}
.ls-14i{letter-spacing:.14em !important}
.ls-15i{letter-spacing:.15em !important}
.ls-16i{letter-spacing:.16em !important}
.ls-17i{letter-spacing:.17em !important}
.ls-18i{letter-spacing:.18em !important}
.ls-19i{letter-spacing:.19em !important}
.ls-20i{letter-spacing:.2em !important}
.ls-21i{letter-spacing:.21em !important}
.ls-22i{letter-spacing:.22em !important}
.ls-23i{letter-spacing:.23em !important}
.ls-24i{letter-spacing:.24em !important}
.ls-25i{letter-spacing:.25em !important}
.ls-26i{letter-spacing:.26em !important}
.ls-27i{letter-spacing:.27em !important}
.ls-28i{letter-spacing:.28em !important}
.ls-29i{letter-spacing:.29em !important}
.ls-30i{letter-spacing:.3em !important}
.ls-31i{letter-spacing:.31em !important}
.ls-32i{letter-spacing:.32em !important}
.ls-33i{letter-spacing:.33em !important}
.ls-34i{letter-spacing:.34em !important}
.ls-35i{letter-spacing:.35em !important}
.ls-36i{letter-spacing:.36em !important}
.ls-37i{letter-spacing:.37em !important}
.ls-38i{letter-spacing:.38em !important}
.ls-39i{letter-spacing:.39em !important}
.ls-40i{letter-spacing:.4em !important}
