// DROPDOWNS
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDarker;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @dropdownLinkColor;

@dropdownLinkBackgroundActive:  @pl-link;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;

// The dropdown menu (ul)
// ----------------------
body .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: @zindexDropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  background-color: @dropdownBackground;
  border: 1px solid #ccc; // Fallback for IE7-8
  border: 1px solid @dropdownBorder;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  .border-radius(1px);
  .box-shadow(0 5px 10px rgba(0,0,0,.2));
  .background-clip(padding-box);


  // Aligns the dropdown menu to right
  &.pull-right {
  right: 0;
  left: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
  .nav-divider(@dropdownDividerTop, @dropdownDividerBottom);
  }

  // Links within the dropdown menu
  li > a,
  li > span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: @line-height--unitless;
  color: @dropdownLinkColor;
  white-space: nowrap;
  cursor: pointer;
  .transition(none);
  }
}
