#mobile-menu-template{
  display: none;
  .opacity(0);
}

// Disable IOS default grey highlight behavior 
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// BLOG STYLES
// ********************

.blog,
.archive,
.categories,
.single{
  .entry_content{
    //font-size: 1.6rem;
    .content-wrap{
      padding-left: 6rem;
    }
  }
  // h2{
  //   &.entry-title{
  //     font-size: 3.5rem;
  //   }
  // }
  .post-meta{
    margin-bottom: 6rem;
    border-bottom: 1px solid #f0f0f0;
  }
  .meta-mode-author{
    .content-wrap{
      padding-left: 9rem;
    }
  }
}
.single,
.page{
  .entry_content{
    .content-wrap{
      padding-left: 6rem;
    }
  }
}

.hentry ul, .hentry ol{
  font-size: 100%;
}

.article-wrap{
  margin-bottom: 6rem;
  .author-tag{
    img{
      max-width: 100px !important;
      padding:3px;
    }
    .author{
      text-align: center;
    }
  }
}

// WIDGETS
// **************

.widget{
  h2, h3{
    font-weight: 300;
    &.widgettitle{
      border-bottom: 1px solid #f0f0f0;
      //font-size: @font-size-large;
    }
    &.widget-title
    {
      //font-size: @font-size-large;
    }
  }
  ul{
    font-size: @font-size-medium;
    margin: 0px 0px;
  }
  .textwidget{
    //font-size: 100%;
  }
}

.media-list > li .excerpt {
  font-size: 90% !important;
}

.widget_recent_entries,
.widget_archive,
.widget_categories,
.widget_meta{
  .hover-side-bar-list();
}

// QUICKSLIDER SECTION
// ********************
.section-quickslider{
  .fslider{
    background: none;
    box-shadow: 0 0 0;
    .border-radius(0px);
  }
}
// IBOX SECTION
// *****************

.ibox {
  .ibox-media{
    .ibox-icon-border{
      .border-radius(0px) !important;
    }
  }
  &.top-aligned{
    .ibox-media{
      max-width: 100%!important;
      .media-type-image{
        padding: 30% 0 !important;
      }
    }
  }
}

// SIDEBAR CUSTOMIZATIONS
// *******************

.hover-side-bar-list{
  ul{
    li{
      a{
        padding:1rem 1rem;
        display: block;
        &:hover{
          color:@pl-base;
          background:@pl-link;
        }
      }
    }
  }
}

// FOOTER SECTION
// *******************

.footer{
  // background: @color-primary;
  // color: #f7f7f7;
  // a{
  //   color:#f7f7f7;
  //   &:hover{
  //     color:#ffffff;
  //   }
  // }
  .widget {
    .tags-list{
      a{
        border: 1px solid #2d2d2d;
      }
    }
  }
}





// INLINE ROWS
// ****************

.inline-row {
  line-height: 33px;
  height: 33px;
  margin: 1.2rem 0;
}
.inline-row>* {
  margin-right: 1.2rem;
}
.inline-row.left-right>.left {
  margin-right: 0;
}
.inline-row.left-right>.left>* {
  margin-right: 1.2rem;
}
.inline-row.left-right>.right {
  margin-right: 0;
}
.inline-row.left-right>.right>* {
  margin-left: 1.2rem;
}


.widget.widget_revslider{
  margin-bottom: 0;
}