.px-to-percent {

  // Converting the width
  .width( @target: @value, @context: @value ) {
    width: (@target / @context) * 100%;
  }

  // Converting the height
  .height( @target: @value, @context: @value ) {
    height: (@target / @context) * 100%;
  }

  // Converting the font-size
  .font-size( @target: @baseFontSize, @context: @value ) {
    font-size: (@target / @context) * 100%;
  }

  // Converting the line-height
  .line-height( @target: @baseFontSize, @context: @value ) {
    line-height: (@target / @context) * 100%;
  }

  // Converting the padding
  .padding( @target: @value, @context: @value ) {
    padding: (@target / @context) * 100%;
  }

  // Converting the padding-top
  .padding-top( @target: @value, @context: @value ) {
    padding-top: (@target / @context) * 100%;
  }

  // Converting the padding-right
  .padding-right( @target: @value, @context: @value ) {
    padding-right: (@target / @context) * 100%;
  }

  // Converting the padding-bottom
  .padding-bottom( @target: @value, @context: @value ) {
    padding-bottom: (@target / @context) * 100%;
  }

  // Converting the padding-left
  .padding-left( @target: @value, @context: @value ) {
    padding-left: (@target / @context) * 100%;
  }

  // Converting the margin
  .margin( @target: @value, @context: @value ) {
    margin: (@target / @context) * 100%;
  }

  // Converting the margin-top
  .margin-top( @target: @value, @context: @value ) {
    margin-top: (@target / @context) * 100%;
  }

  // Converting the margin-right
  .margin-right( @target: @value, @context: @value ) {
    margin-right: (@target / @context) * 100%;
  }

  // Converting the margin-bottom
  .margin-bottom( @target: @value, @context: @value ) {
    margin-bottom: (@target / @context) * 100%;
  }

  // Converting the margin-left
  .margin-left( @target: @value, @context: @value ) {
    margin-left: (@target / @context) * 100%;
  }

  // Converting the top
  .top( @target: @value, @context: @value ) {
    top: (@target / @context) * 100%;
  }

  // Converting the bottom
  .bottom( @target: @value, @context: @value ) {
    bottom: (@target / @context) * 100%;
  }

  // Converting the left
  .left( @target: @value, @context: @value ) {
    left: (@target / @context) * 100%;
  }

  // Converting the right
  .right( @target: @value, @context: @value ) {
    right: (@target / @context) * 100%;
  }

  .translateY( @target: @value, @context: @value ){
    -webkit-transform: translateY( (@target / @context) * 100% );
    -moz-transform: translateY( (@target / @context) * 100% );
    -ms-transform: translateY( (@target / @context) * 100% );
    transform: translateY( (@target / @context) * 100% );
  }
  .translateX( @target: @value, @context: @value ){
    -webkit-transform: translateX( (@target / @context) * 100% );
    -moz-transform: translateX( (@target / @context) * 100% );
    -ms-transform: translateX( (@target / @context) * 100% );
    transform: translateX( (@target / @context) * 100% );
  }

  .translateYinvert( @target: @value, @context: @value ){
    -webkit-transform: translateY( -( (@target / @context) * 100% ) );
    -moz-transform: translateY( -( (@target / @context) * 100% ) );
    -ms-transform: translateY( -( (@target / @context) * 100% ) );
    transform: translateY( -( (@target / @context) * 100% ) );
  }
  .translateXinvert( @target: @value, @context: @value ){
    -webkit-transform: translateX( -( (@target / @context) * 100%) );
    -moz-transform: translateX( -( (@target / @context) * 100%) );
    -ms-transform: translateX( -( (@target / @context) * 100%) );
    transform: translateX( -( (@target / @context) * 100%) );
  }

}
