// GLOBAL MEDIA QUERIES
// *************************
@media(max-width:@plContentWidth){
  .pl-content {
    padding:0 1.5rem;
    .box-sizing(border-box);
  }
  .no-side-padding{
    .pl-content{
      padding: 0;
    }
  }
}


// TABLET CUSTOMIZATIONS
// *******************

@media only screen and (min-width: 768px) {

  .left-justify-tablet-up, .left-align-tablet-up {
    
    .section-sms-buttons {text-align:left !important;}
    
    * { text-align:left !important; }
    blockquote { margin: 0 !important; }
    
  }

}

// TABLET CUSTOMIZATIONS
// *******************

@media screen and (min-width : 481px ) and (max-width : 768px)  {

  // #grid > .fluid(@fluidGridColumnWidth, @fluidGridGutterWidth);
  // .tablet-span1{}
  // .tablet-span1{}
  // .tablet-span3{}
  // .tablet-span4{
  //   width: 31.914893614%;
  //   float: left;
  //   margin-left: 2.127659574%;
  // }
  // .tablet-span5{}

}

@media screen and (min-width : 768px) and (max-width : 1024px)  {}
@media screen and (max-width: 1024px) and (orientation: landscape) {}
@media screen and (max-width: 768px) and (orientation: portrait) {}


// SMARTPHONE CUSTOMIZATIONS
// **************************

@media screen and (min-width : 320px) and (max-width : 767px) {
  
  .center-justify-mobile, .center-align-mobile {
    
    .section-sms-buttons {text-align:center !important;}
    
    * { text-align:center !important; }
    
  }

}

@media screen and (min-width : 320px) and (max-width : 640px) {
  // .section-revslider{
  //   display: none;
  // }
  // .section-textbox{
  //   .textbox-wrap{
  //     padding:0px 10px !important;
  //   }
  // }
  .ibox{
    &.top-aligned{
      margin-top: 4rem;
    }
  }
    .tags-filter{
      li{
        width: 25.5rem;
        text-align: center;
        margin-bottom: 0.5rem;
      }
    }
    .line.showing{
      display: none !important;
    }
    .title{
      text-align: center !important;
      display: block !important;
      width: 29.5rem !important;
    }
    .nav-wrapper{
      .arrowleft,
      .arrowright,
      .navclose{
        .border-radius(3px) !important;
        border: 1px solid #e9e9e9 !important;
      }
    }

    // h4,h5{
    //   width: 80% !important;
    //   text-align: center !important;
    //   margin: 0 auto !important;
    // }
  .article-wrap .author-tag img{
    max-width: 65px !important;
  }
  .article-wrap .author-tag .author{
    text-align: right !important;
  }
}
